<?xml version="1.0" encoding="UTF-8"?>
<app>
    <host>js27.wesee.com</host>
    <port>8080</port>
    <channelCount>800</channelCount>
    <bombsCount>8000</bombsCount>
    <timeout>1000</timeout>
    <fullUris>
        <fullUri>
            <path>/</path>
            <params>
                <param>
                    <name>loc</name>
                    <file>urls.txt</file>
                </param>
            </params>
        </fullUri>
    </fullUris>
</app>