<?xml version="1.0" encoding="UTF-8"?>
<app>
    <host>localhost</host>
    <port>8080</port>
    <threadCount>100</threadCount>
    <threadsIncreaseDelay>100</threadsIncreaseDelay>
    <threadRelaxTime>100</threadRelaxTime>
    <bombsCount>300000</bombsCount>
    <delayBetweenBombs>1</delayBetweenBombs>
    <timeout>30000</timeout>
    <bombsCountFromThread>900</bombsCountFromThread>
    <fullUris>
        <fullUri>
            <path>/</path>
            <params>
                <param>
                    <name>loc</name>
                    <file>urls.txt</file>
                </param>
            </params>
        </fullUri>
    </fullUris>
</app>